<h1>Review Article</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<p>
  By
  <%= link_to @article.user.username, @article.user %>
</p>

<p>
  You can
  <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
    <%= link_to "Edit this Article", edit_article_path(@article), class: 'btn btn-warning' %>
    or
    <%= link_to "Remove it", article_path(@article),
                method: :delete,
                data: { confirm: "Are you really ok with destroying \"#{@article.title}\"" },
                class: 'btn btn-danger'
    %>
    or
  <% end %>
  <%= link_to "Back to Articles", articles_path %>
</p>