<h1>
  <%= @user.username %>'s profile
</h1>

<%= gravatar_for @user, size: 100 %>
<% if logged_in? && current_user.id === @user.id %>
  <%= link_to "Edit your profile", edit_user_path(@user), class: 'btn btn-success' %>
  <%= link_to "Destroy your profile",
              user_path(current_user),
              method: :delete,
              class: 'btn btn-danger',
              data: {
                confirm: 'Are you fucking kidding me? you wanna destroy that ??!?'
              }
  %>
<% end %>

<table>
  <tr>
    <td width="100px">username:</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>email:</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>articles:</td>
    <td><%= pluralize(@user.articles.count, 'article') %></td>
  </tr>
</table>

<%= render 'articles/table' %>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>