<!DOCTYPE html>
<html>
  <head>
    <title>LearningRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body style="padding: 55px 30px">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>

    

    <br />
    <br />
    <br />
    <hr />
    Redirect menu:
    <ul>
      <li><%= link_to "Home page", root_path %></li>
      <li><%= link_to "Articles list", articles_path %></li>
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Signup", signup_path %></li>
    </ul>
  </body>
</html>
